.custom-navbar {
  background-color: #621aa7 !important; /* Verde escuro do topo */
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-link {
  color: #a3b8cc !important;
}

.nav-link.active, .nav-link:hover {
  color: #ffffff !important;
}

.search-box input {
  background-color: #0b241a !important;
  border: 1px solid #5a129c !important;
  color: white !important;
}

.custom-btn-register {
  background-color: #198754 !important;
  color: white !important;
  border: none;
}
.navbar-logo {
  height: 50px; /* Define uma altura sutil e elegante para o topo */
  width: auto;  /* Mantém a proporção da imagem sem achatar */
  object-fit: contain;
  mix-blend-mode: screen;
}
